body{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: auto;
	color: #FFFFFF;
	overflow-x: hidden;
	font-family: Poppins-language;
	letter-spacing: 0.05em;
}

ul li{
	list-style-type: none;
	margin-right: 35px;
	float: left;
}
ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #FFFFFF;
}
ul li a:hover{
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
}
.menu{
	width: 100%;
	float: left;
	margin-top: 5px;
	margin-left: 235px;
	margin-bottom: 15px;
}
.header1{
	width: 100%;
	height: 600px;
	background: #242581;
}
.header-left{
	width: 50%;
	float: left;
}
.header-left-img img{
	position: relative;
}
.header-left-text{
	width: 100%;
	margin-top: -170px;
	margin-left: 160px;
	color: #FFFFFF;
	position: absolute;
}
.header-left-img img{
	width: 100%;
	height: 595px;
}
.header-right{
	width: 50%;
	float: left;
}

.header-right
.Bumble {
	clear: both;
	text-align: center;
}

.DD-tron img{
	width: 150px;
	height: 150px;
	clear: both;
	border: 1px #d4d4d4 solid;
	padding: 7px;
	position: relative;
	border-radius:50%;
}
/*.icon{
	width: 200px;
	height: 100px;
	border-radius:50%;
	position: absolute;
	background: green;
}*/
.icon img{
	position: absolute;
	margin-left:335px;
	margin-top: -50px;
	width:25px;
	height: 25px;
}
.header-right .line{
	width: 400px;
	margin-bottom: 15px;
	height: 0px;
	margin-left: 133px;
	border: 1px solid #F64C71;
}
.PROFESSIONAL{
	width: 100%;
	margin-top:-21px;
	background-color: #2026B2;
}
.PROFESSIONAL-margin{
	width: 90%;
	margin: 0 auto;
}
.PROFESSIONAL h1{
	clear: both;
	padding-top: 50px;
}
.PROFESSIONAL p{
	text-align: justify;
}
.line1{
	width: 50px;
	border: 1px solid red;
}
.line2{
	width: 200px;
	border: 1px solid red;
}
.Skills{
	width: 100%;
	clear: both;
	background-color: #4A0F73;
	
}

.Skills-margin{
	width: 90%;
	margin:0 auto;
	background-color: #4A0F73;
}
.Skills-left{
	width: 50%;
	float: left;
}
.Skills-right{
	width: 50%;
	float: left;
}
.Skills-right-to{
	width: 100%;
	border-radius:5% 5% 5% 5%;
	background: yellow;
}
.Skills-right-to .skills{
	text-align: right;
	padding: 0px;
	color: white;
}
.Skills-right-to .teamW{
	width: 80%;
	background: blue;
}
.Skills-right-to .teamW1{
	width: 70%;
	background: blue;
}
.Skills-right-to .teamW2{
	width: 60%;
	background: blue;
}
.Skill-left-mazu{
	width: 150px;
	height: 150px;
	background: #4A0F73;
	border: 10px solid green;
	border-radius: 50%;
}
/*.Skill-left-mazu .Skill-left-mazu1{
	text-align: center;
	padding: 2px;
	margin-left: -45px;
    padding-top: 40%;
}*/
/*.Skill-left-mazu .HTML{
	
}*/
.EXPERIENCE{
	padding-bottom:30px;
	width: 100%;
	height: auto;
	background: #F64C71;
}
.EXPERIENCE-margin{
	width: 90%;
	margin: 0 auto;
}
.EXPERIENCE-margin .EXPERIENCE-margin-left{
	width: 50%;
	float: left;
}
.EXPERIENCE-margin .EDUCATION-margin-right{
	width: 50%;
	float:left;
}

.khoi {
	position: relative;
	padding-left: 50px;
	overflow: hidden;
}
.item {
	position: relative;
	padding: 5px;
	border: 1px solid #CDCDCD;
	margin-bottom: 10px;
	z-index: 9
}
.khoi:before {
	content: '';
	position: absolute;
	left: 15px;
	top: 0;
	height: 100%;
	width: 0;
	border-left: 1px solid #CDCDCD;

}
.khoi:after {
	content: '';
	position: absolute;
	top: 0;
	height: 0;
	left: 0;
	width: 10px;
	border-top: 1px solid red;
	margin-left: 10px;
}
.item:before {
	content: '';
	position: absolute;
	top: 50%;
	height: 0;
	left: -35px;
	width: 35px;
	border-top: 1px solid red;
	z-index: 1;
}
.item:after {
	content: '';
	position: absolute;
	left: -35px;
	top: calc(50% - 6px);
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
	z-index: 999999999999999999999999999999999999999999999
}
.addClasspor{
	background: white;
}
.portfolio{
	width:100%;
	height: auto;
	padding-top:10px;
	background: #563D67;

}
.portfolio .portfolio-margin{
	width: 90%;
	height: auto;
	margin:0 auto;
}
.imageRow{
	display: flex;
	padding: 0px 4px;
	clear: both;
	padding-bottom: 25px;
}
.column{
	flex: 24%;
	max-width: 24%;
	padding: 0 4px;
}
.column img{
	margin-top: 8px;
  	vertical-align: middle;
}

.menu1 ul li a{
	font-size: 20px;
}
.myChartjs{
	padding-bottom: 25px;
}
.references{
	width: 100%;
	margin-top: -21px;
	padding-bottom:15px;
	background: #2F2FA1;
}
.references .references-margin{
	width: 90%;
	height: auto;
	margin:0 auto;
}
.references-margin .flo{
	float: left;
}
.references-margin .flo1{
	float: left;
	width: 20%;
	padding-left: 100px;
}
.references-margin .flo1 img{
	width: 20%;
	width: 50px;
	height: 200px;
}
.references-margin .flo2{
	float: left;
    padding-left: 80px;
    padding-top: 30px;
    width: 60%;
}
.project{
	width: 100%;
	height: auto;
	padding-bottom: 25px;
	height: 620px;
	clear: both;
	margin: 0 auto;
}
.project .project-skill{
	width: 25%;
	height: 600px;
	float: left;
}
.project .project-skill .project-skill-1{
	width: 100%;
	height: 200px;
}
.project .project-skill .images1 img{
	padding-top: 10%;
}
.project .project-skill .images2 img{
	padding-top: 30%;
	width: 222px;
	height: 200px;

}
.project .project-skill .project-skill-4{
	width: 100%;
	height: 400px;
}
.footer{
	width: 100%;
	margin-top: -18px;
	text-align: center;
	line-height: 50px;
	background: #0C0C5E;
	height: 50px;
}
.clearfix {
	display: block;
	clear: both;
}
