body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	color: #ffffff;
	font-family: 'Poppins';
	letter-spacing: 0.05em;
}

.menu ul {
	display: flex;
	justify-content: center;
	padding-left: 0;
}

ul li {
	list-style-type: none;
	margin-right: 12px;
}

ul li a {
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
}

ul li a:hover {
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
}

p {
	text-align: justify;
	margin:0;
	padding:0;
}

/*header*/
.header {
	width: 100%;
	height: 575px;
	background: #242581;
	clear: both;
}

.header-left {
	width: 50%;
	float: left;
	position: relative;
}

.header-left-img img {
	margin-top: -25px;
	position: relative;
	width: 100%;
	height: 600px;
}

.header-left-text {
	width: 70%;
	margin-top: -250px;
	color: #ffffff;
	position: absolute;
	left: 20%;
}

.header-right .line {
	width: 450px;
	margin-left: 110px;
	margin-bottom: 15px;
	height: 0;
	border: 1px solid #F64C71;
}

.header-left-text h2 {
	font-size: 40px;
}

.header-right{
	width: 50%;
	float: left;
}

.header-right .bumble-walker {
	clear: both;
	text-align: center !important;
}

.header-right .bumble-walker h2{
	margin-top: -5px;
	margin-bottom: -15px;
}

.header-right .bumble-walker p {
	margin-bottom:-3px;
	text-align: center !important;
}

.header-left-text .ruby {
	margin-top: -12px;
}

.language {
	margin-top: 105px;
	margin-left: 10px;
	font-size: 18px
}

.avatar-img {
	position: relative;
	width: 150px;
	margin-top: -8px;
	height: 150px;
	border-radius: 50%;
	border: 4px solid #ffffff;
	overflow: hidden;
	margin: 10px auto;
}

.bumble {
	margin-top: -35px;
	margin-bottom: 15px;
	width: 176px;
	height: 2px;
	background-image: linear-gradient(#FB644D, #F64C71);
}

.avatar-img .avatar-camera {
	width: 150px;
    height: 33px;
    line-height: 26px;
    text-align: center;
    bottom: -5px;
    left: 0;
}

.avatar-camera {
    color: rgba(255,255,255,0.75);
    display: block; 
    background: rgba(58,57,57, 0.8);
    position: absolute;
}

.bumble .line {
	height: 2px;
	background-image: linear-gradient(#FB644D, #F64C71);
}

.infor table {
	font-size: 14px;
	margin-left: 80px;
}


.clearfix .c100 span {
	font-size: 14px;
	top: 23px;
	left: 23px;
}

.menu {
	height: 50px;
	width: 100%;
}

.menu ul:after {
	display: block;
	clear: both;
}

.avatar-img img {
	display: inherit;
	max-width: 100%;
}

.infor table tr td {
	padding-left: 30px;
	padding-bottom: 5px;
	font-size: 14px;
}
/*end header*/
/*button*/
.btn-add-experience {
	clear: both;
	padding: 10px 20px;
	margin-right: 50px;
	margin-bottom: 25px;
	width: 198px;
	color: #ffffff;
	border: 1px solid #ffffff;
	margin-top: 15px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

.btn-add-experience-add {
	clear: both;
	padding: 10px 20px;
	margin-right: 30px;
	margin-bottom: 25px;
	width: 198px;
	color: #ffffff;
	border: 1px solid #ffffff;
	margin-top: 15px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

.btn-prev {
	position: absolute;
	top: 40%;
	margin-left: 60px;
}

.btn-prev,
.btn-next {
	font-size: 25px;
}

.btn-add-refer {
	clear: both;
}

.btn-next {
	float: right;
	top: 40%;
	margin-left: 15px;
	left: 99%;
	position: absolute;
}

.btn-add-pj {
	border: 1px solid #F64C71;
	color: #ffffff;
	margin-left: 90px;
	margin-top: 100px;
	width: 139px;
	padding: 10px 20px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

.btn-add-chart-skill {
	margin-top: 55px;
}

.btn-add-chart-left{
	color: #ffffff;
	padding: 10px 20px;
	border: 1px solid #F64C71;
	margin-top: 15px;
	margin-bottom: 45px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
	margin-bottom: 104px;
}

.btn-edit-profile {
	color: #ffffff;
	padding: 10px 20px;
	border: 1px solid #F64C71;
	margin-top: 15px;
	margin-left: -25px;
	width: 134px;
	height: 36px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

.btn-add-chart {
	color: #ffffff;
	padding: 10px 20px;
	border: 1px solid #F64C71;
	margin-top: 15px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

.btn-add-chart-right {
	color: #ffffff;
	padding: 10px 20px;
	border: 1px solid #F64C71;
	margin-top: 15px;
	margin-bottom: 45px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

.btn-sumary {
	margin-left: -25px;
}

.btn-edit-sumary {
	color: #ffffff;
	margin-right: 30px;
	padding: 10px 20px;
	border: 1px solid #F64C71;
	margin-bottom:45px;
	width: 151px;
	height: 36px;
	margin-top: 15px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

.btn-skill {
	margin-right: 30px;
}
/*end button*/

/*PROFESSIONAL SUMMARY*/
.professional {
	width: 100%;
	background-color: #2026B2;
}

.professional-margin {
	width: 81%;
	margin: 0 auto;
}

.professional-margin h1 {
	margin-left: -50%;
}

.professional p {
	text-align: justify;
}

/*end profesition*/

/*Professional Skills*/
.skills {
	width: 100%;
	clear: both;
	background-color: #4A0F73;
}

.skills-margin {
	width: 81%;
	margin:0 auto;
	background-color: #4A0F73;
}

.skills-left {
	width: 50%;
	float: left;
}

.skills-left p {
	padding-right: 15px;
}

.cv-canvas span {
	position: absolute;
	width: 100%;
	text-align: center;
	padding-right: 15px;
	font-size: 14px;
}

.cv-canvas-percen {
	margin-top: 43px;
}

.cv-canvas span {
	position: absolute;
	width: 100%;
	text-align: center;
	padding-right: 15px;
	font-size: 14px;
}

.cv-canvas-content {
	margin-top: 110px;
}

.chart-mazu {
	margin-left: 12px;
}

.circle-chart {
	width: 100px;
	height: 100px;
	margin-bottom: 5px;
	margin: 30px;
	position: relative;

}

svg {
	overflow: hidden;
	vertical-align: middle;
}

.circle-chart__background {
	stroke: #ffffff;
	stroke-width: 2;
	fill: none;
}

.success-stroke {
	stroke: #F64C71;
}

.circle-chart__circle {
	stroke: #F64C71;
	stroke-width: 2;
	stroke-linecap: square;
	fill: none;
	animation: circle-chart-fill 2s reverse;
	transform: rotate(-360deg);
	transform-origin: center;
}

.circle-chart__info {
	animation: circle-chart-appear 2s forwards;
	opacity: 0;
	transform: translateY(0.3em);
}

span {
	position: absolute;
}

.span-white-per-number {
	margin-left: -98px;
	margin-top: 70px;
}

.span-white-per-text {
	padding-left: 30px;
}

.skills-right p {
	padding-left: 15px;
}

.skills-right h1 {
	padding-left: 15px;
}

.team-chart {
	padding-top: 25px;
	margin-left: 40px;
	margin-right:30px;
	position: relative!important;
}


.team-chart-div {
	background-color: #ffffff;
	border-radius: 3px;
	height: 7px;
	margin-top: 10px;
}

.team-chart-div .team-chart-div-one {
	background: linear-gradient(90.71deg, #F64C71 0.6%, #FB634E 50.01%);
	border-radius: 3px;
	height: 100%;
}

.span-team-chart {
	right: 148px;
	top: 35px;
	position: absolute!important;
}

.skills-right {
	width: 50%;
	float: left;
}

.skills-right-to {
	width: 100%;
	border-radius:5% 5% 5% 5%;
	background: yellow;
}

.skills-right-to .skills {
	text-align: right;
	padding: 0;
	color: white;
}

.experience {
	padding-bottom:30px;
	width: 100%;
	height: auto;
	background: #F64C71;
}

.experience-margin {
	width: 81%;
	margin: 0 auto;
}

.experience-margin .experience-margin-left {
	width: 50%;
	float: left;
}

.experience-margin-left .uedesu {
	margin-bottom: 30px;
}

.education-margin-right .uedesuhai {
	margin-bottom: 30px;
}

.experience-margin-left p {
	padding-right: 15px;
}

.education-margin-right h1 {
	padding-left: 15px;
}

.experience-margin .education-margin-right {
	width: calc(50%);
	float:left;
}

.project {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
	height: 620px;
	clear: both;
	margin: 0 auto;
}

.project .project-skill {
	width: 25%;
	height: 600px;
	float: left;
}

/*end Professional Skills*/

/*WORK EXPERIENCE*/
.experience-margin-left .box-edu .item-edu {
	margin-right: 45px;
}

.education-margin-right .box-edu:after {
	left: 35px;
}

.experience-margin-left .box-edu:after {
	left: 15px;
}

.experience-margin-left .box-edu:before {
	left: 30px;
}

.education-margin-right .box-edu .item-edu {
	margin-right: 30px;
}

.education-margin-right .uedesuhai {
	padding-left: 15px;
}

.education-margin-right .box-edu {
	padding-left: 102px
}

.education-margin-right .box-edu:before {
	left: 50px;
}

.education-margin-right .box-edu:after {
	left: 16px;
}

.box {
	position: relative;
	padding-left: 50px;
	padding-right: 50px;	
}

.box-edu {
	position: relative;
	padding-left: 82px
}

.item {
	position: relative;
	padding: 10px;
	margin-left:25px;
	border: 1px solid #ffffff;
	margin-bottom: 10px;
	z-index: 9;
}

.box-edu .item-edu h3 {
	margin-bottom: -4px;
	margin-top: 2px;
}

.box .item h3 {
	margin-bottom: -4px;
	margin-top: 2px;
}

.item-edu {
	position: relative;
	padding: 10px;
	border: 1px solid #ffffff;
	margin-bottom: 10px;
	z-index: 9;
}

.box-edu:before {
	content: '';
	position: absolute;
	left: 25px;
	top: 0;
	height: 100%;
	width: 0;
	border-left: 2px solid #ffffff;
}

.box-edu:after {
	content: '';
	position: absolute;
	top: 0;
	height: 0;
	left: 25px;
	width: 10px;
	border-top: 2px solid #ffffff;
	margin-left: 10px;
}

.item-edu:before {
	content: '';
	position: absolute;
	top: 50%;
	height: 0;
	left: -31px;
	width: 50px;
	margin-left: -20px;
	border-top: 2px dotted #ffffff;
	z-index: 1;
}

.item-edu:after {
	content: '';
	position: absolute;
	left: -51px;
	top: calc(50% - 6px);
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #ffffff;
	z-index: 999999999999999999999999999999999999999999999
}
/*end education*/

/*portfolio*/
.portfolio {
	width: 100%;
	height: auto;
	padding-top:10px;
	padding-bottom: 45px;
	background: #563D67;
}

.portfolio .portfolio-margin {
	width: 81%;
	height: auto;
	margin:0 auto;
}

.column {
	flex: 24%;
	max-width: 24%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}

.menu-portfolio ul li {
	float: left;
}

.menu-portfolio ul li a {
	font-size: 14px;
}

.folder {
	width: 100%;
}

.folder .folder-margin {
	width: 25%;
	float: left;
}

.team-chart-div-one {
	width: 65%;
}

.folder .folder-margin .folder-margin-img {
	width: 100%;
	height: 250px;
	line-height: 25;
	background: #FD7038;
}

.folder .folder-margin .folder-margin-imgg {
	width: 100%;
	height: 500px;
	line-height: 45;
	background: #EECD10;
}

.folder .folder-margin .folder-margin-imgg img {
	height: 250px;
}

.folder .folder-margin .folder-margin-img img {
	align-items: center;
	justify-content: center;
}

.folder .folder-margin .folder-margin-imgg img .imgg {
	width: 80%;
	height: 300px;
	align-items: center;
}
/*end project*/
.references {
	width: 100%;
	padding-bottom:30px;
	background: #2F2FA1;
}

.references .references-margin {
	width: 81%;
	height: auto;
	margin:0 auto;
}

.references-margin .flo {
	float: left;
}

.references-margin-avarta img {
	width: 150px;
	height: 150px;
	margin-right: 30px;
	border-radius: 50%;
	padding:5px;
	border: 1px solid #ffffff;
}

.slide {
	box-sizing: border-box;
	width: 90%;
	position: relative;
	margin: 0 auto;
}

.slide-language {
	margin-top: 80px;
	font-size: 18px
}

.references-margin .references-margin-text p {
	clear: both;
	width: 67%;
	text-align: justify;
	padding-left: 15px;
	margin-top: 35px;
}

.references-margin .references-margin-text {
	float: left;
	width: 5%;
}

.distance {
	float: left;
	margin: 25px 6%;
}

.add-references {
	color: #ffffff;
	padding: 10px 20px;
	border: 1px solid #F64C71;
	margin-top: 15px;
	width: 169px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

.references-margin .references-margin-avarta {
	float: left;
	width: 25%;
}

.references-margin .references-margin-text {
	float: left;
	width: 70%;
}

.references-relative {
	position: relative;
	font-size: 80px;
	font-family: 'Port Lligat Sans';
	float: left;
	margin-top: 9px;
	margin-left: -15px;
}

.references-margin-text p {
	position: absolute;
	float: left;
}

.references-absolute {
	position: absolute;
	font-size: 80px;
	font-family: 'Port Lligat Sans';
	float: left;
	margin-top: -5px;
	margin-left: 0;
}
/*end references*/
/*icon*/
.icon-check {
	clear: both;
	margin-left:43%;
}

.icon-check ul li {
	float: left;
}

.icon img {
	position: absolute;
	margin-left:335px;
	margin-top: -50px;
	width:25px;
	height: 25px;
}

.icon-check ul li button {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding:5px;
	border: 0;
}

.icon-camera {
	position: absolute;
	margin-left: 240px;
	margin-top: -40px;
	background: rgba(58, 57, 57, 0.8);
	width: 150px;
	height: 150px;	
}
/*end icon*/
/*before and after*/
h1{
	margin-top: 45px;
	font-size: 25px;
	position: relative;
	display: inline-block;
}

h1:before {
	content: "";
	height: 2px;
	background-image: linear-gradient(#FB644D, #F64C71);
	display: block;
	float: right;
	width: 50px;
	margin-left:-50px;
}

h1:after {
	content: "";
	height: 2px;
	background-image: linear-gradient(#FB644D, #F64C71);
	display: block;
	width: 100px;
	position: absolute;
	float: right;
}

.white-line{
	margin-top: 45px;
	font-size: 25px;
	position: relative;
	display: inline-block;
}

.white-line:before {
	content: "";
	background-image: linear-gradient(#ffffff);
	display: block;
	float: right;
	width: 50px;
	margin-left:-50px;
}

.white-line:after {
	content: "";
	background-image: linear-gradient(#ffffff);
	display: block;
	width: 100px;
	position: absolute;
	float: right;
}
/*and before va after*/
/*footer*/
.footer {
	clear: both;
	width: 100%;
	line-height: 50px;
	background: #0C0C5E;
}

.footer p {
	text-align: center;
}

.clearfix {
	width: 100%;
}

.clearfix-one {
	display: block;
	clear: both;
}
/*end footer*/
/*add fonts*/
@font-face{
	font-family: 'Poppins';
	/*src:url(../fonts/Poppins-Bold.ttf);*/
	src:url(../fonts/Poppins-Light.ttf);
	/*src:url(../fonts/Poppins-Medium.ttf);*/
	/*src:url(../fonts/Poppins-SemiBold.ttf);*/
}

@font-face{
	font-family: 'Port Lligat Sans';
	src:url(../fonts/PortLligatSans-Regular.ttf);
}
/*end add fonts*/