@media (max-width: 575px) {
	.bumble {
		width: 50px;
	}

	.header-left-text h2 {
		font-size: 25px;
	}

	.infor table {
		margin-left: -10px;
		margin-top:20px;
	}

	.header {
		height: 765px;
	}

	.header-right .bumble-walker h2 {
		margin-top: 10px;
		margin-bottom: -5px;
	}

	.header-right .bumble-walker p {
		margin-bottom: 20px;
	}

	.header-left-text .ruby {
		margin-top: 16px;
	}

	.khoangcach {
		margin: 25px 9%;
	}

	.header-left {
		width: 100%;
	}

	.header-left img {
		position: relative;
		width: 100%;
		height: 300px;
	}

	.header-left-text {
		display: inline;
		width: 80%;
		position: absolute;
		margin-top: -205px;
	}

	.header-left-text .bumble {
		margin-top: -15px;
		margin-bottom: -10px;
	}
	.header-right {
		width: 100%;
	}

	.avatar-img img {
		margin-top: -90px;
	}

	.bumble-walker h2 {
		text-align: center;
	}

	.bumble-walker p {
		text-align: center;
	}

	.header-right .line {
		width: 82%;
		margin: 0 auto;
	}

	.btnaddchart {
		padding: 8px 8px;
		margin-top: 65px;
		margin-bottom: 35px;
		margin-left: 7%;
	}

	.khoi-edu {
		width: 90%;
		margin-left: -35px;
	}

	.teamchart {
		margin:0;
	}

	.btnsumary {
		float: none;
		margin-top: 35px;
		margin-right: 30%;
	}

	.professional-margin {
		width: 95%;
	}

	.professional-margin h1 {
		font-size: 16px;
		margin-left:0%;
	}

	.page {
		margin-top: 0;
	}

	.btn-edit-sumary {
		margin-right: 0;
		margin-bottom: 35px;
	}

	.skills-margin {
		width: 95%;
	}

	.skills-left {
		width: 100%;
	}

	.skills-left h1 {
		font-size: 16px;
	}

	.skills-left p {
		font-size: 14px;
	}

	h1 {
		margin-top: 35px;
		font-size: 16px;
	}

	p {
		font-size: 14px;
		text-align: justify;
	}

	.skills-right p {
		font-size: 14px;
	}

	.skills-left h1 {
		text-align: justify;
	}

	.skills-right {
		clear: both;
		width: 100%;
		margin-top: 10%;
	}

	.skills-right h1 {
		margin-top: 10px;
	}

	.btnskill {
		width: 68%;
		margin-right: 0;
	}

	.btn-add-chart {
		margin-left: 15%;
	}

	.experience-margin .experience-margin-left {
		width: 100%;
	}

	.btn-add-chart-right {
		margin-bottom: 35px;
	}

	.education-margin-right h1 {
		padding-left: 0;
	}

	.white-line {
		margin-top: 35px;
	}

	.btn-add-experience {
		margin-left: 0%;
	}

	.experience-margin {
		width: 90%;
	}

	.experience-margin .education-margin-right {
		width: 100%;
	}

	.portfolio .portfolio-margin {
		width: 100%;
	}

	.khoi {
		width: 90%;
		margin-left: -13px;
	}

	.menu-portfolio ul li a {
		font-size: 13px;
	}

	.portfolio-margin h1 {
		margin-left: 15px;
	}

	.addImg  {
		width: 130%;
		margin-left: -300%;
	}

	.project {
		width: 50%;
	}

	.menu {
		position: absolute;
		top: 10px;
	}

	.header-right .bumble-walker p {
		font-family: 'Poppins';
	}

	.folder .folder-margin {
		width: 50%;
	}

	.folder .folder-margin .folder-margin-imgg img {
		width: 100%;
	}

	.folder .folder-margin .folder-margin-img {
		height: 200px;
		line-height: 20;
	}

	.folder .folder-margin .folder-margin-imgg {
		width: 100%;
		height: 400px;
		line-height: 38;
	}

	.folder {
		width: 95%;
		margin: 0 auto;
	}

	.btn-add-pj {
		display: block;
		margin-left: 37%;
		margin-top: 15px;
		float: left;
	}

	.references-margin-k .references-margin-k-text {
		width: 100%;
		float: none;
	}

	.references-margin-k .references-margin-k-avarta {
		width: 100%;
	}

	.references-margin-k .references-margin-k-text p {
		padding: 0;
	}

	.slide {
		width: 100%;
	}

	.btnprev {
		top: 15%;
		left: 10%;
	}

	.btnnext {
		margin-left: -20px;
		top: 15%;
		left: 87%;
	}

	.c100 > span {

	}
}

@media (max-width: 767px) {
	.header-left-text {
		left: 20%;
		width: 80%;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
	
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }